In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
pd.set_option("display.max_columns", 500)
matplotlib.rcParams["figure.figsize"]=(20,10)
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [3]:
case_time_series_url='https://data.covid19india.org/csv/latest/case_time_series.csv' 
states_url='https://data.covid19india.org/csv/latest/states.csv' 
districts_url='https://data.covid19india.org/csv/latest/districts.csv'
state_wise_daily_url='https://data.covid19india.org/csv/latest/state_wise_daily.csv'
state_wise_url='https://data.covid19india.org/csv/latest/state_wise.csv'
district_wise_url='https://data.covid19india.org/csv/latest/district_wise.csv'
statewise_tested_numbers_data_url='https://data.covid19india.org/csv/latest/statewise_tested_numbers_data.csv'
tested_numbers_icmr_data_url=	'https://data.covid19india.org/csv/latest/tested_numbers_icmr_data.csv'
icmr_labs_statewise_url=	'https://data.covid19india.org/csv/latest/icmr_labs_statewise.csv'
sources_list_url=	'https://data.covid19india.org/csv/latest/sources_list.csv'
rtpcr_samples_collected_url=	'http://data.covid19india.org/csv/latest/icmr_rtpcr_tests_daily.csv'
vaccine_doses_administered_statewise_url=	'http://data.covid19india.org/csv/latest/vaccine_doses_statewise_v2.csv'
cowin_vaccine_data_statewise_url=	'http://data.covid19india.org/csv/latest/cowin_vaccine_data_statewise.csv' 
cowin_vaccine_data_districtwise_url=	'http://data.covid19india.org/csv/latest/cowin_vaccine_data_districtwise.csv'

In [4]:
#function to read the csv files
def read_data(url):
  df=pd.read_csv(url)
  return df

In [36]:
case_time_series=read_data(case_time_series_url)
states=read_data(states_url)
districts = read_data(districts_url)
state_wise_daily = read_data(state_wise_daily_url)
district_wise = read_data(district_wise_url)
statewise_tested_numbers_data = read_data(statewise_tested_numbers_data_url)
tested_numbers_icmr_data = read_data(tested_numbers_icmr_data_url)
icmr_labs_statewise = read_data(icmr_labs_statewise_url)
sources_list = read_data(sources_list_url)
rtpcr_samples_collected = read_data(rtpcr_samples_collected_url)
vaccine_doses_administered_statewise = read_data(vaccine_doses_administered_statewise_url)
cowin_vaccine_data_statewise = read_data(cowin_vaccine_data_statewise_url)
cowin_vaccine_data_districtwise = read_data(cowin_vaccine_data_districtwise_url)

In [37]:
case_time_series

,Date,Date_YMD,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
0,30 January 2020,2020-01-30,1,1,0,0,0,0
1,31 January 2020,2020-01-31,0,1,0,0,0,0
2,1 February 2020,2020-02-01,0,1,0,0,0,0
3,2 February 2020,2020-02-02,1,2,0,0,0,0
4,3 February 2020,2020-02-03,1,3,0,0,0,0
...,...,...,...,...,...,...,...,...
636,27 October 2021,2021-10-27,16351,34231030,17077,33606620,734,455828
637,28 October 2021,2021-10-28,14307,34245337,13189,33619809,805,456633
638,29 October 2021,2021-10-29,14215,34259552,13549,33633358,551,457184
639,30 October 2021,2021-10-30,12940,34272492,14672,33648030,445,457629
640,31 October 2021,2021-10-31,12907,34285399,13152,33661182,251,457880

In [38]:
states

,Date,State,Confirmed,Recovered,Deceased,Other,Tested
0,2020-01-30,Kerala,1,0,0,0,NaN
1,2020-01-30,India,1,0,0,0,NaN
2,2020-02-02,Kerala,2,0,0,0,NaN
3,2020-02-02,India,2,0,0,0,NaN
4,2020-02-03,Kerala,3,0,0,0,NaN
...,...,...,...,...,...,...,...
21670,2021-10-31,Tripura,84468,83466,813,63,1983127.0
21671,2021-10-31,India,34285612,33661339,458470,13197,609201294.0
21672,2021-10-31,Uttar Pradesh,1710158,1687151,22900,0,83635222.0
21673,2021-10-31,Uttarakhand,343896,330195,7400,6150,7781148.0
21674,2021-10-31,West Bengal,1592908,1565471,19141,0,19228303.0

In [39]:
states['Active'] = states['Confirmed'] - states['Recovered']

In [40]:
states

,Date,State,Confirmed,Recovered,Deceased,Other,Tested,Active
0,2020-01-30,Kerala,1,0,0,0,NaN,1
1,2020-01-30,India,1,0,0,0,NaN,1
2,2020-02-02,Kerala,2,0,0,0,NaN,2
3,2020-02-02,India,2,0,0,0,NaN,2
4,2020-02-03,Kerala,3,0,0,0,NaN,3
...,...,...,...,...,...,...,...,...
21670,2021-10-31,Tripura,84468,83466,813,63,1983127.0,1002
21671,2021-10-31,India,34285612,33661339,458470,13197,609201294.0,624273
21672,2021-10-31,Uttar Pradesh,1710158,1687151,22900,0,83635222.0,23007
21673,2021-10-31,Uttarakhand,343896,330195,7400,6150,7781148.0,13701
21674,2021-10-31,West Bengal,1592908,1565471,19141,0,19228303.0,27437

In [41]:
states['Date'] = pd.to_datetime(states['Date'])
states['Date'] = states['Date'].apply(lambda x: x.strftime('%Y-%m'))

In [42]:
states_pop = states.groupby(['Date','State']).agg({'Confirmed':'sum','Recovered':'sum','Deceased':'sum','Active':'sum'}).reset_index()
states_pop

,Date,State,Confirmed,Recovered,Deceased,Active
0,2020-01,India,1,0,0,1
1,2020-01,Kerala,1,0,0,1
2,2020-02,India,8,3,0,5
3,2020-02,Kerala,8,3,0,5
4,2020-03,Andaman and Nicobar Islands,45,0,0,45
...,...,...,...,...,...,...
725,2021-10,Telangana,20735462,20484339,122059,251123
726,2021-10,Tripura,2613423,2582289,25192,31134
727,2021-10,Uttar Pradesh,53010264,52296525,709812,713739
728,2021-10,Uttarakhand,10655701,10231505,229315,424196
729,2021-10,West Bengal,48998237,48171568,588038,826669

In [44]:
states_pop['Recovered%'] = (states_pop['Recovered']/states_pop['Confirmed'])*100
states_pop['Deceased%'] = (states_pop['Deceased']/states_pop['Confirmed'])*100
states_pop['Active%'] = (states_pop['Active']/states_pop['Confirmed'])*100
states_pop

,Date,State,Confirmed,Recovered,Deceased,Active,Recovered%,Deceased%,Active%
0,2020-01,India,1,0,0,1,0.000000,0.000000,100.000000
1,2020-01,Kerala,1,0,0,1,0.000000,0.000000,100.000000
2,2020-02,India,8,3,0,5,37.500000,0.000000,62.500000
3,2020-02,Kerala,8,3,0,5,37.500000,0.000000,62.500000
4,2020-03,Andaman and Nicobar Islands,45,0,0,45,0.000000,0.000000,100.000000
...,...,...,...,...,...,...,...,...,...
725,2021-10,Telangana,20735462,20484339,122059,251123,98.788920,0.588649,1.211080
726,2021-10,Tripura,2613423,2582289,25192,31134,98.808689,0.963947,1.191311
727,2021-10,Uttar Pradesh,53010264,52296525,709812,713739,98.653583,1.339009,1.346417
728,2021-10,Uttarakhand,10655701,10231505,229315,424196,96.019070,2.152040,3.980930
729,2021-10,West Bengal,48998237,48171568,588038,826669,98.312860,1.200121,1.687140

In [46]:
districts

,Date,State,District,Confirmed,Recovered,Deceased,Other,Tested
0,2020-04-26,Andaman and Nicobar Islands,Unknown,33,11,0,0,NaN
1,2020-04-26,Andhra Pradesh,Anantapur,53,14,4,0,NaN
2,2020-04-26,Andhra Pradesh,Chittoor,73,13,0,0,NaN
3,2020-04-26,Andhra Pradesh,East Godavari,39,12,0,0,NaN
4,2020-04-26,Andhra Pradesh,Guntur,214,29,8,0,NaN
...,...,...,...,...,...,...,...,...
358628,2021-10-31,West Bengal,Purba Bardhaman,42005,41588,198,0,NaN
358629,2021-10-31,West Bengal,Purba Medinipur,63098,62549,397,0,NaN
358630,2021-10-31,West Bengal,Purulia,19419,19283,113,0,NaN
358631,2021-10-31,West Bengal,South 24 Parganas,100957,98950,1336,0,NaN
358632,2021-10-31,West Bengal,Uttar Dinajpur,19858,19559,238,0,NaN

In [47]:
districts['Date'] = pd.to_datetime(districts['Date'])
districts['Date'] = districts['Date'].apply(lambda x: x.strftime('%Y-%m'))

districts['Active'] = districts['Confirmed'] - districts['Recovered']

districts_pop_state = districts.groupby(['Date','State']).agg({'Confirmed':'sum','Recovered':'sum','Deceased':'sum','Active':'sum'}).reset_index()

districts_pop_state['Recovered%'] = (districts_pop_state['Recovered']/districts_pop_state['Confirmed'])*100
districts_pop_state['Deceased%'] = (districts_pop_state['Deceased']/districts_pop_state['Confirmed'])*100
districts_pop_state['Active%'] = (districts_pop_state['Active']/districts_pop_state['Confirmed'])*100

districts_pop_districs = districts.groupby(['Date','State','District']).agg({'Confirmed':'sum','Recovered':'sum','Deceased':'sum','Active':'sum'}).reset_index()

districts_pop_districs['Recovered%'] = (districts_pop_districs['Recovered']/districts_pop_districs['Confirmed'])*100
districts_pop_districs['Deceased%'] = (districts_pop_districs['Deceased']/districts_pop_districs['Confirmed'])*100
districts_pop_districs['Active%'] = (districts_pop_districs['Active']/districts_pop_districs['Confirmed'])*100

In [49]:
districts_pop_districs

,Date,State,District,Confirmed,Recovered,Deceased,Active,Recovered%,Deceased%,Active%
0,2020-04,Andaman and Nicobar Islands,Unknown,165,68,0,97,41.212121,0.000000,58.787879
1,2020-04,Andhra Pradesh,Anantapur,279,79,20,200,28.315412,7.168459,71.684588
2,2020-04,Andhra Pradesh,Chittoor,377,77,0,300,20.424403,0.000000,79.575597
3,2020-04,Andhra Pradesh,East Godavari,199,62,0,137,31.155779,0.000000,68.844221
4,2020-04,Andhra Pradesh,Guntur,1275,243,40,1032,19.058824,3.137255,80.941176
...,...,...,...,...,...,...,...,...,...,...
12236,2021-10,West Bengal,Purba Bardhaman,1291722,1277452,6065,14270,98.895273,0.469528,1.104727
12237,2021-10,West Bengal,Purba Medinipur,1949332,1929803,12258,19529,98.998170,0.628831,1.001830
12238,2021-10,West Bengal,Purulia,600924,596677,3503,4247,99.293255,0.582936,0.706745
12239,2021-10,West Bengal,South 24 Parganas,3099193,3040499,41007,58694,98.106152,1.323151,1.893848
12240,2021-10,West Bengal,Uttar Dinajpur,612647,604042,7306,8605,98.595439,1.192530,1.404561

In [50]:
districts_pop_state

,Date,State,Confirmed,Recovered,Deceased,Active,Recovered%,Deceased%,Active%
0,2020-04,Andaman and Nicobar Islands,165,68,0,97,41.212121,0.000000,58.787879
1,2020-04,Andhra Pradesh,6268,1332,155,4936,21.250798,2.472878,78.749202
2,2020-04,Arunachal Pradesh,5,5,0,0,100.000000,0.000000,0.000000
3,2020-04,Assam,191,139,5,52,72.774869,2.617801,27.225131
4,2020-04,Bihar,1817,324,10,1493,17.831591,0.550358,82.168409
...,...,...,...,...,...,...,...,...,...
667,2021-10,Telangana,20735462,20484339,122059,251123,98.788920,0.588649,1.211080
668,2021-10,Tripura,2613423,2582289,25192,31134,98.808689,0.963947,1.191311
669,2021-10,Uttar Pradesh,53010264,52296525,709812,713739,98.653583,1.339009,1.346417
670,2021-10,Uttarakhand,10655701,10231505,229315,424196,96.019070,2.152040,3.980930
671,2021-10,West Bengal,48998237,48171568,588038,826669,98.312860,1.200121,1.687140

In [51]:
districts_pop_state[districts_pop_state['State'] == 'West Bengal']

,Date,State,Confirmed,Recovered,Deceased,Active,Recovered%,Deceased%,Active%
31,2020-04,West Bengal,3440,562,117,2878,16.337209,3.401163,83.662791
66,2020-05,West Bengal,85082,28136,6685,56946,33.069274,7.857126,66.930726
101,2020-06,West Bengal,352836,190742,14767,162094,54.059676,4.185231,45.940324
136,2020-07,West Bengal,1230381,781335,33036,449046,63.503500,2.685022,36.496500
171,2020-08,West Bengal,3630154,2754112,75204,876042,75.867635,2.071648,24.132365
206,2020-09,West Bengal,6327185,5471432,123183,855753,86.474981,1.946885,13.525019
241,2020-10,West Bengal,9760454,8567583,183867,1192871,87.778530,1.883796,12.221470
276,2020-11,West Bengal,12972035,11849806,230383,1122229,91.348859,1.775997,8.651141
311,2020-12,West Bengal,16279623,15393759,283838,885864,94.558449,1.743517,5.441551
347,2021-01,West Bengal,17465608,16924067,310175,541541,96.899386,1.775919,3.100614
383,2021-02,West Bengal,16033759,15631821,286429,401938,97.493177,1.786412,2.506823
419,2021-03,West Bengal,17967596,17535891,319203,431705,97.597314,1.776548,2.402686
455,2021-04,West Bengal,19948472,18202701,318580,1745771,91.248598,1.597015,8.751402
491,2021-05,West Bengal,34924620,30695026,414430,4229594,87.889363,1.186641,12.110637
527,2021-06,West Bengal,43809005,42461899,508116,1347106,96.925048,1.159844,3.074952
563,2021-07,West Bengal,46992809,45994380,556878,998429,97.875358,1.185028,2.124642
599,2021-08,West Bengal,47707386,46833613,567427,873773,98.168474,1.189390,1.831526
635,2021-09,West Bengal,46774235,45973641,558553,800594,98.288387,1.194147,1.711613
671,2021-10,West Bengal,48998237,48171568,588038,826669,98.312860,1.200121,1.687140

In [52]:
districts_pop_state[districts_pop_state['State'] == 'Maharashtra']

,Date,State,Confirmed,Recovered,Deceased,Active,Recovered%,Deceased%,Active%
18,2020-04,Maharashtra,46389,7224,2002,39165,15.572657,4.315678,84.427343
51,2020-05,Maharashtra,1071275,306417,37719,764858,28.603020,3.520945,71.396980
86,2020-06,Maharashtra,3461480,1707292,146856,1754188,49.322602,4.242578,50.677398
121,2020-07,Maharashtra,9021856,5071313,350117,3950543,56.211416,3.880765,43.788584
156,2020-08,Maharashtra,18598274,13012593,619584,5585681,69.966670,3.331406,30.033330
191,2020-09,Maharashtra,33154585,24346775,920386,8807810,73.434112,2.776044,26.565888
226,2020-10,Maharashtra,48444892,41237595,1276324,7207297,85.122690,2.634589,14.877310
261,2020-11,Maharashtra,52546687,48384854,1376175,4161833,92.079742,2.618957,7.920258
296,2020-12,Maharashtra,58406464,54776157,1501432,3630307,93.784409,2.570661,6.215591
332,2021-01,Maharashtra,61527482,58413824,1561097,3113658,94.939403,2.537235,5.060597
368,2021-02,Maharashtra,58121612,55399492,1444013,2722120,95.316510,2.484468,4.683490
404,2021-03,Maharashtra,74559135,67447188,1647151,7111947,90.461334,2.209187,9.538666
440,2021-04,Maharashtra,110884048,91313669,1809502,19570379,82.350591,1.631887,17.649409
476,2021-05,Maharashtra,164703698,147494454,2545281,17209244,89.551392,1.545370,10.448608
512,2021-06,Maharashtra,177736506,169781119,3336169,7955387,95.524056,1.877031,4.475944
548,2021-07,Maharashtra,192009893,184794661,3954660,7215232,96.242260,2.059613,3.757740
584,2021-08,Maharashtra,198181562,191977287,4189731,6204275,96.869398,2.114087,3.130602
620,2021-09,Maharashtra,195346961,189732767,4149495,5614194,97.126040,2.124167,2.873960
656,2021-10,Maharashtra,204204664,198897365,4331523,5307299,97.400990,2.121168,2.599010

In [53]:
statewise_tested_numbers_data

,Updated On,State,"RT-PCR Test(Includes TrueNat,CBNAAT,CRISPR)",RAT(Rapid Antigen Test),Other Tests,Total Tested,Tag (Total Tested),Positive,Negative,Unconfirmed,Cumulative People In Quarantine,Total People Currently in Quarantine,Tag (People in Quarantine),Total People Released From Quarantine,Total People Quarantined,Tag(People in Quarantine),Cumulative People in Home Isolation,Total People Currently in Isolation,Tag(People in Isolation),People released from Home Isolation,"Cases outside Home Isolation i.e Institutional Isolation,Hospital Etc.",Cumulative People in Surveillance,Total People Currently in Surveillance,Tag(People in Surveillance),People released from Surveillance,Cumulative People in Observation,People released from Observation,People on ICU Beds,People on Ventilator,People on O2 Beds,Beds Occupied(Normal/Isolation),Total Num ICU Beds,Total Num Ventilators,Total Num of O2 Beds,Total Num Beds (Normal/Isolation),Total PPE,Total N95 Masks,COVID Enquiry Calls,Number of Containment Zones,Cumulative Number of Symptomatic Cases,Cumulative Number of Asymptomatic Cases,Unknown(Nature of Cases),Tag(Nature of Cases),Male(Confirmed Cases),Female(Confirmed Cases),Transgender(Confirmed Cases),Unknown(Confirmed Cases),Male(Deceased Cases),Female(Deceased Cases),Transgender(Deceased Cases),Unknown(Deceased Cases),Source1,Source2
0,17/04/2020,Andaman and Nicobar Islands,NaN,NaN,NaN,1403.0,Samples Sent,12,1210,181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://t.me/indiacovid/2550,https://dhs.andaman.gov.in/
1,24/04/2020,Andaman and Nicobar Islands,NaN,NaN,NaN,2679.0,Samples Sent,27,NaN,246,NaN,614.0,Institutional,347.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://t.me/indiacovid/3147?single,NaN
2,27/04/2020,Andaman and Nicobar Islands,NaN,NaN,NaN,2848.0,Samples Sent,33,NaN,106,NaN,724.0,Institutional,420.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://t.me/indiacovid/3365?single,NaN
3,01/05/2020,Andaman and Nicobar Islands,NaN,NaN,NaN,3754.0,Samples Sent,33,NaN,199,NaN,643.0,Institutional,556.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://t.me/indiacovid/3781,NaN
4,16/05/2020,Andaman and Nicobar Islands,NaN,NaN,NaN,6677.0,Samples Sent,33,NaN,136,NaN,16.0,Institutional,1196.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://t.me/indiacovid/4925,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19206,27/10/2021,West Bengal,10502449.0,8536852,NaN,19039301.0,Tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6593.0,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.50%,2861.0,1298.0,NaN,23947.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.wbhealth.gov.in/uploaded_files/cor...,https://www.wbhealth.gov.in/pages/corona/bulletin
19207,28/10/2021,West Bengal,10524572.0,8560166,NaN,19084738.0,Tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6698.0,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.50%,2861.0,1298.0,NaN,23947.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.wbhealth.gov.in/uploaded_files/cor...,https://www.wbhealth.gov.in/pages/corona/bulletin
19208,29/10/2021,West Bengal,10551167.0,8582588,NaN,19133755.0,Tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6875.0,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.90%,2861.0,1298.0,NaN,23947.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.wbhealth.gov.in/uploaded_files/cor...,https://www.wbhealth.gov.in/pages/corona/bulletin
19209,30/10/2021,West Bengal,10575472.0,8605414,NaN,19180886.0,Tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6914.0,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.05%,2861.0,1298.0,NaN,23947.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.wbhealth.gov.in/uploaded_files/cor...,https://www.wbhealth.gov.in/pages/corona/bulletin
19210,31/10/2021,West Bengal,10600373.0,8627930,NaN,19228303.0,Tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6956.0,Home,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.91%,2861.0,1298.0,NaN,23947.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.wbhealth.gov.in/uploaded_files/cor...,https://www.wbhealth.gov.in/pages/corona/bulletin

In [55]:
statewise_tested_numbers_data['Updated On'] = pd.to_datetime(statewise_tested_numbers_data['Updated On'])
statewise_tested_numbers_data['Updated On'] = statewise_tested_numbers_data['Updated On'].apply(lambda x: x.strftime('%Y-%m'))

statewise_tested_numbers_data_pop = statewise_tested_numbers_data.groupby(['Updated On','State']).agg({'Total Tested':'sum'}).reset_index()

In [56]:
statewise_tested_numbers_data_pop

    Updated On                        State  Total Tested
0      2020-01  Andaman and Nicobar Islands      367268.0
1      2020-01               Andhra Pradesh    31305051.0
2      2020-01            Arunachal Pradesh     1221758.0
3      2020-01                        Assam    17239669.0
4      2020-01                        Bihar    37457983.0
..         ...                          ...           ...
835    2021-12                    Telangana   161536311.0
836    2021-12                      Tripura    10531385.0
837    2021-12                Uttar Pradesh   505889430.0
838    2021-12                  Uttarakhand    46092251.0
839    2021-12                  West Bengal   125605995.0

[840 rows x 3 columns]

In [57]:
vaccine_doses_administered_statewise

,Vaccinated As of,State,First Dose Administered,Second Dose Administered,Total Doses Administered
0,16/01/2021,Andaman and Nicobar Islands,225,0,225
1,16/01/2021,Andhra Pradesh,18412,0,18412
2,16/01/2021,Arunachal Pradesh,829,0,829
3,16/01/2021,Assam,3528,0,3528
4,16/01/2021,Bihar,18169,0,18169
...,...,...,...,...,...
10901,31/10/2021,Uttar Pradesh,98178865,32681895,130860760
10902,31/10/2021,Uttarakhand,7478017,3898342,11376359
10903,31/10/2021,West Bengal,56192166,21559747,77751913
10904,31/10/2021,Miscellaneous,2237446,1564623,3802069
10905,31/10/2021,Total,732371508,330752697,1063124205

In [58]:
vaccine_doses_administered_statewise['Vaccinated As of'] = pd.to_datetime(vaccine_doses_administered_statewise['Vaccinated As of'])
vaccine_doses_administered_statewise['Vaccinated As of'] = vaccine_doses_administered_statewise['Vaccinated As of'].apply(lambda x: x.strftime('%Y-%m'))

vaccine_doses_administered_statewise_pop = vaccine_doses_administered_statewise.groupby(['Vaccinated As of','State']).agg({'First Dose Administered':'sum','Second Dose Administered':'sum',
                                                                                                                           'Total Doses Administered':'sum'}).reset_index()

In [59]:
vaccine_doses_administered_statewise_pop

,Vaccinated As of,State,First Dose Administered,Second Dose Administered,Total Doses Administered
0,2021-01,Andaman and Nicobar Islands,1172787,408009,1580796
1,2021-01,Andhra Pradesh,96805654,36028638,132834292
2,2021-01,Arunachal Pradesh,3325598,1094661,4420259
3,2021-01,Assam,54678967,13505921,68184888
4,2021-01,Bihar,129375240,26847773,156223013
...,...,...,...,...,...
451,2021-12,Total,2441092300,753303650,3194395950
452,2021-12,Tripura,12482965,5073065,17556030
453,2021-12,Uttar Pradesh,284450586,63250727,347701313
454,2021-12,Uttarakhand,29667454,10042770,39710224
455,2021-12,West Bengal,155169606,56310039,211479645

In [60]:
cowin_vaccine_data_statewise

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),Covaxin (Doses Administered),CoviShield (Doses Administered),Sputnik V (Doses Administered),AEFI,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years (Individuals Vaccinated),45-60 Years (Individuals Vaccinated),60+ Years (Individuals Vaccinated),Male (Individuals Vaccinated),Female (Individuals Vaccinated),Transgender (Individuals Vaccinated)
0,16/01/2021,India,48276,3455,2957,48276,0,NaN,NaN,NaN,579,47697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0
1,17/01/2021,India,58604,8532,4954,58604,0,NaN,NaN,NaN,635,57969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0
2,18/01/2021,India,99449,13611,6583,99449,0,NaN,NaN,NaN,1299,98150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0
3,19/01/2021,India,195525,17855,7951,195525,0,NaN,NaN,NaN,3017,192508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0
4,20/01/2021,India,251280,25472,10504,251280,0,NaN,NaN,NaN,3946,247334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10688,27/10/2021,West Bengal,74571922,1691756,2823,53983371,20588551,37918106.0,36640744.0,13072.0,8476997,66019270,75655.0,3392.0,39767806.0,21739716.0,13064400.0,NaN,NaN,NaN,NaN,NaN,NaN
10689,28/10/2021,West Bengal,75393539,1931135,3402,54516153,20877386,38291793.0,37088558.0,13188.0,8518010,66799122,76407.0,3392.0,40336226.0,21916621.0,13140692.0,NaN,NaN,NaN,NaN,NaN,NaN
10690,29/10/2021,West Bengal,76415365,2827358,4579,55220133,21195232,38753097.0,37648896.0,13372.0,8555244,67783375,76746.0,3473.0,41049869.0,22130346.0,13235150.0,NaN,NaN,NaN,NaN,NaN,NaN
10691,30/10/2021,West Bengal,77474740,2664006,4624,55975588,21499152,39230731.0,38230467.0,13542.0,8597986,68799452,77302.0,3473.0,41782147.0,22355418.0,13337175.0,NaN,NaN,NaN,NaN,NaN,NaN
10692,31/10/2021,West Bengal,77741559,719495,1496,56183405,21558154,39358041.0,38369910.0,13608.0,8609803,69054133,77623.0,3499.0,41958302.0,22416359.0,13366898.0,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
cowin_vaccine_data_statewise['Updated On'] = pd.to_datetime(cowin_vaccine_data_statewise['Updated On'])
cowin_vaccine_data_statewise['Updated On'] = cowin_vaccine_data_statewise['Updated On'].apply(lambda x: x.strftime('%Y-%m'))

cowin_vaccine_data_statewise_pop = cowin_vaccine_data_statewise.groupby(['Updated On','State']).agg({'Sessions':'sum','Sites':'sum','First Dose Administered':'sum','Second Dose Administered':'sum',
                                                                                                                           'Total Doses Administered':'sum','Covaxin (Doses Administered)':'sum','CoviShield (Doses Administered)':'sum'}).reset_index()

In [66]:
cowin_vaccine_data_statewise_pop['Covaxin (Doses Administered)%'] = (cowin_vaccine_data_statewise_pop['Covaxin (Doses Administered)']/cowin_vaccine_data_statewise_pop['Total Doses Administered'])*100
cowin_vaccine_data_statewise_pop['CoviShield (Doses Administered)%'] = (cowin_vaccine_data_statewise_pop['CoviShield (Doses Administered)']/cowin_vaccine_data_statewise_pop['Total Doses Administered'])*100

In [67]:
cowin_vaccine_data_statewise_pop

,Updated On,State,Sessions,Sites,First Dose Administered,Second Dose Administered,Total Doses Administered,Covaxin (Doses Administered),CoviShield (Doses Administered),Covaxin (Doses Administered)%,CoviShield (Doses Administered)%
0,2021-01,Andaman and Nicobar Islands,33928,287,1160909,406871,1567780,0,1565820,0.000000,99.874982
1,2021-01,Andhra Pradesh,7049206,39006,96012440,36016482,132028922,20480324,111240927,15.511998,84.254969
2,2021-01,Arunachal Pradesh,154501,2718,3275616,1093905,4369521,76,4362483,0.001739,99.838930
3,2021-01,Assam,3242270,13664,54584026,13514083,68098109,8526875,59537545,12.521456,87.429072
4,2021-01,Bihar,8739002,25786,128648510,26815573,155464083,15776811,139594314,10.148203,89.792003
...,...,...,...,...,...,...,...,...,...,...,...
439,2021-12,Telangana,5982993,12857,70359640,22227661,92587301,15772229,76388315,17.034981,82.504095
440,2021-12,Tripura,742565,3157,12478449,5074531,17552980,278932,17274042,1.589086,98.410880
441,2021-12,Uttar Pradesh,16384310,47635,284283173,63364563,347647736,40100480,307448580,11.534803,88.436814
442,2021-12,Uttarakhand,1363875,5023,29634877,10045657,39680534,2373058,37303212,5.980408,94.008846
443,2021-12,West Bengal,5964415,18937,154938888,56303871,211242759,25434545,185613960,12.040434,87.867608

In [69]:
districts_pop_state_tested = pd.merge(districts_pop_state, statewise_tested_numbers_data_pop, how = 'left', left_on = ['Date', 'State'], right_on = ['Updated On', 'State'])

In [72]:
districts_pop_state_tested

,Date,State,Confirmed,Recovered,Deceased,Active,Recovered%,Deceased%,Active%,Updated On,Total Tested
0,2020-04,Andaman and Nicobar Islands,165,68,0,97,41.212121,0.000000,58.787879,2020-04,3.869530e+05
1,2020-04,Andhra Pradesh,6268,1332,155,4936,21.250798,2.472878,78.749202,2020-04,3.320285e+07
2,2020-04,Arunachal Pradesh,5,5,0,0,100.000000,0.000000,0.000000,2020-04,1.264328e+06
3,2020-04,Assam,191,139,5,52,72.774869,2.617801,27.225131,2020-04,1.799274e+07
4,2020-04,Bihar,1817,324,10,1493,17.831591,0.550358,82.168409,2020-04,3.935693e+07
...,...,...,...,...,...,...,...,...,...,...,...
667,2021-10,Telangana,20735462,20484339,122059,251123,98.788920,0.588649,1.211080,2021-10,6.776509e+08
668,2021-10,Tripura,2613423,2582289,25192,31134,98.808689,0.963947,1.191311,2021-10,4.763618e+07
669,2021-10,Uttar Pradesh,53010264,52296525,709812,713739,98.653583,1.339009,1.346417,2021-10,1.900464e+09
670,2021-10,Uttarakhand,10655701,10231505,229315,424196,96.019070,2.152040,3.980930,2021-10,1.915655e+08
671,2021-10,West Bengal,48998237,48171568,588038,826669,98.312860,1.200121,1.687140,2021-10,4.832343e+08

In [74]:
districts_pop_state_tested_vaccinated = pd.merge(districts_pop_state_tested, cowin_vaccine_data_statewise_pop, how = 'left', left_on = ['Date', 'State'], right_on = ['Updated On', 'State'])

In [75]:
districts_pop_state_tested_vaccinated

,Date,State,Confirmed,Recovered,Deceased,Active,Recovered%,Deceased%,Active%,Updated On_x,Total Tested,Updated On_y,Sessions,Sites,First Dose Administered,Second Dose Administered,Total Doses Administered,Covaxin (Doses Administered),CoviShield (Doses Administered),Covaxin (Doses Administered)%,CoviShield (Doses Administered)%
0,2020-04,Andaman and Nicobar Islands,165,68,0,97,41.212121,0.000000,58.787879,2020-04,3.869530e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-04,Andhra Pradesh,6268,1332,155,4936,21.250798,2.472878,78.749202,2020-04,3.320285e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-04,Arunachal Pradesh,5,5,0,0,100.000000,0.000000,0.000000,2020-04,1.264328e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-04,Assam,191,139,5,52,72.774869,2.617801,27.225131,2020-04,1.799274e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-04,Bihar,1817,324,10,1493,17.831591,0.550358,82.168409,2020-04,3.935693e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,2021-10,Telangana,20735462,20484339,122059,251123,98.788920,0.588649,1.211080,2021-10,6.776509e+08,2021-10,60770257.0,55492.0,4.735125e+08,186608563.0,6.601211e+08,98928142.0,5.582394e+08,14.986364,84.566221
668,2021-10,Tripura,2613423,2582289,25192,31134,98.808689,0.963947,1.191311,2021-10,4.763618e+07,2021-10,4249902.0,11564.0,5.997962e+07,34338316.0,9.431793e+07,1788394.0,9.252953e+07,1.896134,98.103860
669,2021-10,Uttar Pradesh,53010264,52296525,709812,713739,98.653583,1.339009,1.346417,2021-10,1.900464e+09,2021-10,181173023.0,213197.0,2.085682e+09,609161650.0,2.694844e+09,308967074.0,2.384933e+09,11.465120,88.499848
670,2021-10,Uttarakhand,10655701,10231505,229315,424196,96.019070,2.152040,3.980930,2021-10,1.915655e+08,2021-10,6657958.0,18699.0,1.706684e+08,78589413.0,2.492579e+08,15820539.0,2.333745e+08,6.347057,93.627748
671,2021-10,West Bengal,48998237,48171568,588038,826669,98.312860,1.200121,1.687140,2021-10,4.832343e+08,2021-10,36766363.0,71238.0,1.127567e+09,425842019.0,1.553409e+09,178563906.0,1.373240e+09,11.494967,88.401646

In [76]:
districts_pop_state_tested_vaccinated[districts_pop_state_tested_vaccinated['State'] == 'West Bengal']

,Date,State,Confirmed,Recovered,Deceased,Active,Recovered%,Deceased%,Active%,Updated On_x,Total Tested,Updated On_y,Sessions,Sites,First Dose Administered,Second Dose Administered,Total Doses Administered,Covaxin (Doses Administered),CoviShield (Doses Administered),Covaxin (Doses Administered)%,CoviShield (Doses Administered)%
31,2020-04,West Bengal,3440,562,117,2878,16.337209,3.401163,83.662791,2020-04,18162057.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,2020-05,West Bengal,85082,28136,6685,56946,33.069274,7.857126,66.930726,2020-05,20639351.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,2020-06,West Bengal,352836,190742,14767,162094,54.059676,4.185231,45.940324,2020-06,25772773.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,2020-07,West Bengal,1230381,781335,33036,449046,63.503500,2.685022,36.496500,2020-07,32932026.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,2020-08,West Bengal,3630154,2754112,75204,876042,75.867635,2.071648,24.132365,2020-08,48051620.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,2020-09,West Bengal,6327185,5471432,123183,855753,86.474981,1.946885,13.525019,2020-09,70497288.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,2020-10,West Bengal,9760454,8567583,183867,1192871,87.778530,1.883796,12.221470,2020-10,98503544.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276,2020-11,West Bengal,12972035,11849806,230383,1122229,91.348859,1.775997,8.651141,2020-11,118612759.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,2020-12,West Bengal,16279623,15393759,283838,885864,94.558449,1.743517,5.441551,2020-12,148478570.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347,2021-01,West Bengal,17465608,16924067,310175,541541,96.899386,1.775919,3.100614,2021-01,268858409.0,2021-01,5432888.0,24321.0,1.366127e+08,49461336.0,1.860740e+08,21922458.0,1.638483e+08,11.781578,88.055420
383,2021-02,West Bengal,16033759,15631821,286429,401938,97.493177,1.786412,2.506823,2021-02,256292138.0,2021-02,6052468.0,36771.0,1.477517e+08,50966422.0,1.987181e+08,22926834.0,1.745304e+08,11.537364,87.828134
419,2021-03,West Bengal,17967596,17535891,319203,431705,97.597314,1.776548,2.402686,2021-03,292647071.0,2021-03,13961419.0,63657.0,2.035412e+08,60651998.0,2.641932e+08,29000143.0,2.348445e+08,10.976871,88.891195
455,2021-04,West Bengal,19948472,18202701,318580,1745771,91.248598,1.597015,8.751402,2021-04,302242729.0,2021-04,14481546.0,67129.0,2.834363e+08,78936360.0,3.623727e+08,41077467.0,3.209237e+08,11.335696,88.561773
491,2021-05,West Bengal,34924620,30695026,414430,4229594,87.889363,1.186641,12.110637,2021-05,347842265.0,2021-05,14569256.0,51146.0,3.224999e+08,123921679.0,4.464216e+08,51619280.0,3.944076e+08,11.562899,88.348683
527,2021-06,West Bengal,43809005,42461899,508116,1347106,96.925048,1.159844,3.074952,2021-06,370894403.0,2021-06,21516705.0,53577.0,4.178142e+08,132511965.0,5.503261e+08,66536252.0,4.833326e+08,12.090331,87.826580
563,2021-07,West Bengal,46992809,45994380,556878,998429,97.875358,1.185028,2.124642,2021-07,414627749.0,2021-07,20489383.0,57588.0,5.111924e+08,202725423.0,7.139178e+08,88121568.0,6.248871e+08,12.343378,87.529281
599,2021-08,West Bengal,47707386,46833613,567427,873773,98.168474,1.189390,1.831526,2021-08,440468554.0,2021-08,25382290.0,64074.0,6.528268e+08,247429959.0,9.002568e+08,113879759.0,7.849683e+08,12.649698,87.193827
635,2021-09,West Bengal,46774235,45973641,558553,800594,98.288387,1.194147,1.711613,2021-09,445219794.0,2021-09,33230355.0,71739.0,8.269178e+08,329321436.0,1.156239e+09,137680839.0,1.017214e+09,11.907643,87.976125
671,2021-10,West Bengal,48998237,48171568,588038,826669,98.312860,1.200121,1.687140,2021-10,483234273.0,2021-10,36766363.0,71238.0,1.127567e+09,425842019.0,1.553409e+09,178563906.0,1.373240e+09,11.494967,88.401646

In [77]:
districts_pop_state_tested_vaccinated1 = districts_pop_state_tested_vaccinated.fillna(0)

In [78]:
districts_pop_state_tested_vaccinated1

,Date,State,Confirmed,Recovered,Deceased,Active,Recovered%,Deceased%,Active%,Updated On_x,Total Tested,Updated On_y,Sessions,Sites,First Dose Administered,Second Dose Administered,Total Doses Administered,Covaxin (Doses Administered),CoviShield (Doses Administered),Covaxin (Doses Administered)%,CoviShield (Doses Administered)%
0,2020-04,Andaman and Nicobar Islands,165,68,0,97,41.212121,0.000000,58.787879,2020-04,3.869530e+05,0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,0.000000,0.000000
1,2020-04,Andhra Pradesh,6268,1332,155,4936,21.250798,2.472878,78.749202,2020-04,3.320285e+07,0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,0.000000,0.000000
2,2020-04,Arunachal Pradesh,5,5,0,0,100.000000,0.000000,0.000000,2020-04,1.264328e+06,0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,0.000000,0.000000
3,2020-04,Assam,191,139,5,52,72.774869,2.617801,27.225131,2020-04,1.799274e+07,0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,0.000000,0.000000
4,2020-04,Bihar,1817,324,10,1493,17.831591,0.550358,82.168409,2020-04,3.935693e+07,0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,2021-10,Telangana,20735462,20484339,122059,251123,98.788920,0.588649,1.211080,2021-10,6.776509e+08,2021-10,60770257.0,55492.0,4.735125e+08,186608563.0,6.601211e+08,98928142.0,5.582394e+08,14.986364,84.566221
668,2021-10,Tripura,2613423,2582289,25192,31134,98.808689,0.963947,1.191311,2021-10,4.763618e+07,2021-10,4249902.0,11564.0,5.997962e+07,34338316.0,9.431793e+07,1788394.0,9.252953e+07,1.896134,98.103860
669,2021-10,Uttar Pradesh,53010264,52296525,709812,713739,98.653583,1.339009,1.346417,2021-10,1.900464e+09,2021-10,181173023.0,213197.0,2.085682e+09,609161650.0,2.694844e+09,308967074.0,2.384933e+09,11.465120,88.499848
670,2021-10,Uttarakhand,10655701,10231505,229315,424196,96.019070,2.152040,3.980930,2021-10,1.915655e+08,2021-10,6657958.0,18699.0,1.706684e+08,78589413.0,2.492579e+08,15820539.0,2.333745e+08,6.347057,93.627748
671,2021-10,West Bengal,48998237,48171568,588038,826669,98.312860,1.200121,1.687140,2021-10,4.832343e+08,2021-10,36766363.0,71238.0,1.127567e+09,425842019.0,1.553409e+09,178563906.0,1.373240e+09,11.494967,88.401646

In [160]:
population_grtr_8cr = districts_pop_state_tested_vaccinated1[(districts_pop_state_tested_vaccinated1['State'] == 'Uttar Pradesh') | (districts_pop_state_tested_vaccinated1['State'] == 'Maharashtra') | 
                                                             (districts_pop_state_tested_vaccinated1['State'] == 'Bihar') | (districts_pop_state_tested_vaccinated1['State'] == 'West Bengal') | 
                                                             (districts_pop_state_tested_vaccinated1['State'] == 'Madhya Pradesh')]

In [161]:
population_grtr_8cr = population_grtr_8cr.reset_index(drop = True)

In [162]:
population_grtr_8cr['Date'][0][4:7]

'-04'

In [164]:
population_grtr_8cr.to_csv('population_grtr_8cr.csv',index = False)

In [165]:
population_grtr_5cr_8cr = districts_pop_state_tested_vaccinated1[(districts_pop_state_tested_vaccinated1['State'] == 'Rajasthan') | (districts_pop_state_tested_vaccinated1['State'] == 'Tamil Nadu') | 
                                                             (districts_pop_state_tested_vaccinated1['State'] == 'Gujarat') | (districts_pop_state_tested_vaccinated1['State'] == 'Karnataka') | 
                                                             (districts_pop_state_tested_vaccinated1['State'] == 'Andhra Pradesh')]

In [166]:
population_grtr_5cr_8cr = population_grtr_5cr_8cr.reset_index(drop = True)

In [167]:
population_grtr_5cr_8cr.to_csv('population_grtr_5cr_8cr.csv',index = False)

In [176]:
population_grtr_3cr_5cr = districts_pop_state_tested_vaccinated1[(districts_pop_state_tested_vaccinated1['State'] == 'Odisha') | (districts_pop_state_tested_vaccinated1['State'] == 'Jharkhand') | 
                                                             (districts_pop_state_tested_vaccinated1['State'] == 'Telangana') | (districts_pop_state_tested_vaccinated1['State'] == 'Kerala') | 
                                                             (districts_pop_state_tested_vaccinated1['State'] == 'Assam') | (districts_pop_state_tested_vaccinated1['State'] == 'Punjab')]

In [177]:
population_grtr_3cr_5cr = population_grtr_3cr_5cr.reset_index(drop = True)

In [178]:
population_grtr_3cr_5cr.to_csv('population_grtr_3cr_5cr.csv',index = False)

In [181]:
districts_pop_state_tested_vaccinated1['State'].unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Delhi', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka',
       'Kerala', 'Ladakh', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Odisha', 'Puducherry', 'Punjab',
       'Rajasthan', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal',
       'Dadra and Nagar Haveli and Daman and Diu', 'Nagaland', 'Sikkim',
       'Lakshadweep'], dtype=object)

In [182]:
population_grtr_1cr_3cr = districts_pop_state_tested_vaccinated1[(districts_pop_state_tested_vaccinated1['State'] == 'Chhattisgarh') | (districts_pop_state_tested_vaccinated1['State'] == 'Haryana') | 
                                                             (districts_pop_state_tested_vaccinated1['State'] == 'Delhi') | (districts_pop_state_tested_vaccinated1['State'] == 'Jammu and Kashmir') | 
                                                             (districts_pop_state_tested_vaccinated1['State'] == 'Uttarakhand')]

In [184]:
population_grtr_1cr_3cr = population_grtr_1cr_3cr.reset_index(drop = True)

In [185]:
population_grtr_1cr_3cr.to_csv('population_grtr_1cr_3cr.csv',index = False)

In [186]:
population_grtr_20lkh_1cr = districts_pop_state_tested_vaccinated1[(districts_pop_state_tested_vaccinated1['State'] == 'Himachal Pradesh') | (districts_pop_state_tested_vaccinated1['State'] == 'Manipur') | 
                                                             (districts_pop_state_tested_vaccinated1['State'] == 'Tripura') | (districts_pop_state_tested_vaccinated1['State'] == 'Meghalaya') | 
                                                             (districts_pop_state_tested_vaccinated1['State'] == 'Nagaland')]

In [187]:
population_grtr_20lkh_1cr = population_grtr_20lkh_1cr.reset_index(drop = True)

In [188]:
population_grtr_20lkh_1cr.to_csv('population_grtr_20lkh_1cr.csv',index = False)

In [189]:
population_grtr_10lkh_20lkh = districts_pop_state_tested_vaccinated1[(districts_pop_state_tested_vaccinated1['State'] == 'Goa') | (districts_pop_state_tested_vaccinated1['State'] == 'Arunachal Pradesh') | 
                                                             (districts_pop_state_tested_vaccinated1['State'] == 'Mizoram') | (districts_pop_state_tested_vaccinated1['State'] == 'Puducherry') | 
                                                             (districts_pop_state_tested_vaccinated1['State'] == 'Chandigarh')]

In [191]:
population_grtr_10lkh_20lkh = population_grtr_10lkh_20lkh.reset_index(drop = True)

In [192]:
population_grtr_10lkh_20lkh.to_csv('population_grtr_10lkh_20lkh.csv',index = False)

In [193]:
population_lssr_10lkh = districts_pop_state_tested_vaccinated1[(districts_pop_state_tested_vaccinated1['State'] == 'Dadra and Nagar Haveli and Daman and Diu') | (districts_pop_state_tested_vaccinated1['State'] == 'Sikkim') | 
                                                             (districts_pop_state_tested_vaccinated1['State'] == 'Andaman and Nicobar Islands') | (districts_pop_state_tested_vaccinated1['State'] == 'Ladakh')]

In [194]:
population_lssr_10lkh = population_lssr_10lkh.reset_index(drop = True)

In [195]:
population_lssr_10lkh.to_csv('population_lssr_10lkh.csv',index = False)

In [196]:
districts_pop_state_tested_vaccinated1.to_csv('all states.csv',index = False)